* {
  box-sizing: border-box;
  list-style: none;
}

a, a:hover, a:visited {
  color: #000;
  text-decoration: none;
}

h1, h2, h3, h4 ,h5 , h6 {
  margin: 0;
}

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$button-width: 50px;                    // The width of the button area
$button-height: 50px;                   // The height of the button area
$bar-thickness: 4px;                    // The thickness of the button bars
$button-pad: 8px;                      // The left/right padding between button area and bars.
$button-bar-space: 6px;                // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration

.navbar {
  top: 0;
  z-index: 999;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

.nav {
  width: 100%;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: #000;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: #000;
  content: "";
}

.c-hamburger span::before {
  top: -$bar-thickness - $button-bar-space;
}

.c-hamburger span::after {
  bottom: -$bar-thickness - $button-bar-space;
}

.c-hamburger--htx {
  background-color: rgb(255,255,255);
}

.c-hamburger--htx span {
  transition: background 0s $button-transistion-duration;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: $button-transistion-duration, $button-transistion-duration;
  transition-delay: $button-transistion-duration, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.c-hamburger--htx.is-active {
  background-color: #fff;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, $button-transistion-duration;
}

#overlay {
  opacity: 0;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  // z-index: 999;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  transition-duration: 0.3s, 0.3s;

  ul {
    padding: 0;

    li {
      position: relative;
      left: -200%;
      list-style: none;
      opacity: 0;
      line-height: 4.5em;
      margin: 0;
      padding: 0 0.5em;
      overflow: hidden;
      transition: 1s ease;
    }

    li.show {
      opacity: 1;
      left: 0;
    }

    span {
      font-size: 4em;
    }

  }

}

/* Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// .button {
//   font-size: .75em;
//   margin: 5px;
//   height: 40px;
//   width: 200px;
//   border: 0;
//   background: #4cc1f3;
//   border-radius: 5px;
//   color: #fff;
//   text-transform: uppercase;
//   // transition: background 0.2s ease;
// }
// //
// // .button:hover {
// //   background: darken(#4cc1f3, 5%);
// // }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flex-icon {
  position: relative;
  opacity: 0;
  bottom: -50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #00adff;
  margin-top: 2rem;
  transition: 1.5s ease;
}

.center {
  text-align: center;
}

.container {
  width: 960px;
}

.fp-container {
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.fp-item {
  align-self: center;
}

/* Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 100%;
  height: 100vh;
  margin-right: 10px;
  border-radius: 5px;
}

/* position dots in gallery */
.flickity-page-dots {
  bottom: 10px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #000;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #000;
}


/* Portfolio
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-item {
  margin: 5px;
  padding:5px;
  width: 300px;
  border: 1px solid #000;
}

.is-checked {
  background: rgba(0, 0, 0, 0.3);
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


@media (max-width: 400px) {
  .flex-row {
    display: block;
  }

  .arrows {
    display: none;
  }

  .dot {
    margin: 10px;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s ease-in;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  #overlay {
    ul {
      li {
        span {
          font-size: 2em;
        }
      }
    }
  }

}
